[include]
    path = ~/.gitconfig-personal
[include]
    path = ~/.gitconfig-work

[init]
    defaultBranch = main
# [url "git@github.com:"]
#     insteadOf = https://github.com/
[alias]
    st = status
    cm = commit
    br = branch
    ck = checkout
    re = rebase
    cp = cherry-pick
    lo = log --date=format-local:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset %Cgreen%an%Creset %Cblue%ad%Creset %s' 
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    # 用于触发流水线
    p = commit --amend --no-edit -n -a 
[core]
    editor=vim
    quotepath=false
	excludesfile = ~/.gitignore_global
[pull]
    rebase = true