# [url "git@github.com:"]
#     insteadOf = https://github.com/
[user]
    name = qujihan
    email = qujihan@163.com
[alias]
    st = status
    co = commit
    br = branch
    ch = checkout
    lo = log --oneline
    lala = commit --amend --no-edit -n -a 
[core]
    editor=vim
[pull]
    rebase = true
# for work config
[includeIf "gitdir:~/workspace/"]
    path = .gitconfig-work