"╭─────────────────────────────────────────────────────────────────────────╮
"│  Plugins                                                                │
"╰─────────────────────────────────────────────────────────────────────────╯
set surround
set nerdtree
set commentary
set which-key

"╭─────────────────────────────────────────────────────────────────────────╮
"│  Basic Settings                                                         │
"╰─────────────────────────────────────────────────────────────────────────╯
set number
set history=1000
set timeout=500
set timeoutlen=1500
set clipboard+=unnamed
set clipboard+=ideaput
set scroll=10
scrolloff=5
set undolevels=200

" For JetBrain's IDE
set ideajoin
set ideamarks



"╭─────────────────────────────────────────────────────────────────────────╮
"│  Keymap                                                                 │
"╰─────────────────────────────────────────────────────────────────────────╯
" Keymap Basic
let mapleader=" "

" Keymaps about Windows
nmap <A-h> <C-w>h
nmap <A-l> <C-w>l
nmap <A-j> <C-w>j
nmap <A-k> <C-w>k
nmap <A-.> :action NextTab<CR>
nmap <A-,> :action PreviousTab<CR>
map <A-w> :action CloseEditor<CR>
map <A-e> :NERDTree<CR>
map <leader>ff :action Find<CR>
map <leader><leader><leader> :action HideAllWindows<CR>
map <Leader>wz :action ToggleZenMode<CR>


" Keymap about LSP
" K is default
nmap <leader>lr :action RenameElement<CR>
nmap <Leader>lf :action ReformatCode<CR>
nmap gd :action GotoDeclaration<CR>
nmap [d :action GotoNextError<CR>
nmap ]d :action GotoPreviousError<CR>

" Keymaps about Debug
nmap <leader>b ToggleLineBreakpoint

if has('ide')
end
